@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
  --light-red: hsl(6, 100%, 80%);
  --pink: hsl(335, 100%, 65%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 0.875em;
  color: var(--pale-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  padding: 1em;
  background-image: url("../images/bg-mobile.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container {
  align-items: center;
}

.storage__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 370px;
}

.storage__item {
  background-color: var(--dark-blue);
  padding: 1em 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 10px;
}

.storage__item:first-child {
  padding-top: 2em;
  padding-bottom: 2em;
  border-top-right-radius: 100px;
  height: 200px;
}

.storage__item:last-child {
  height: 150px;
}

.storage-actions {
  display: flex;
  justify-content: space-between;
  width: 170px;
}

.storage-actions img {
  background-color: var(--very-dark-blue);
  padding: 1em 0.8em;
  border-radius: 8px;
}

.storage-actions img:first-child {
  padding: 0.9em 0.95em;
}

.storage-actions img:last-child {
  padding: 1.14em 0.8em;
}

.container-used-space {
  position: relative;
}

.space-left {
  position: absolute;
  bottom: -35px;
  left: 20%;
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding: 1.2em 2em;
  background-color: #fff;
  color: var(--grayish-blue);
  font-weight: bold;
  border-radius: 10px;
}

.space-left .text-bold {
  color: #000;
  font-size: 40px;
  padding-right: 0.2em;
}

/* Utilities */
.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
