@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
  --light-red: hsl(6, 100%, 80%);
  --pink: hsl(335, 100%, 65%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 0.875em;
  color: var(--pale-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  padding: 1em 1.5em;
  background-image: url("../images/bg-mobile.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container {
  align-items: center;
  width: 100%;
}

.storage__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 370px;
}

.storage__item {
  background-color: var(--dark-blue);
  padding: 1em 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 10px;
}

.storage__item:first-child {
  padding-top: 2em;
  padding-bottom: 2em;
  border-top-right-radius: 100px;
  height: 200px;
}

.storage__item:last-child {
  height: 150px;
}

.storage-actions {
  display: flex;
  justify-content: space-between;
  width: 170px;
}

.storage-actions img {
  background-color: var(--very-dark-blue);
  padding: 1em 0.8em;
  border-radius: 8px;
}

.storage-actions img:first-child {
  padding: 0.9em 0.95em;
}

.storage-actions img:last-child {
  padding: 1.14em 0.8em;
}

.container-used-space {
  position: relative;
  justify-content: space-evenly;
}

.container-used-space > p:first-child {
  font-size: 14px;
}

.storage__indicator-container {
  width: 100%;
  margin-bottom: 20px;
}

.storage__indicator-container p {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.storage__indicator {
  position: relative;
  width: 100%;
  height: 20px;
  background-color: var(--very-dark-blue);
  border-radius: 50px;
  margin-bottom: 8px;
}

.storage__indicator::before {
  content: "";
  position: absolute;
  width: 78%;
  height: 14px;
  border-radius: 50px;
  top: 3px;
  left: 2px;
  background-image: linear-gradient(to right, var(--light-red), var(--pink));
}

.storage__indicator::after {
  content: '';
  width: 10px;
  height: 10px;
  top: 5px;
  right: 55px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
}

.space-left {
  position: absolute;
  bottom: -38px;
  left: 20%;
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding: 1.2em 2em;
  background-color: #fff;
  color: var(--grayish-blue);
  font-weight: bold;
  border-radius: 10px;
}

.space-left .text-bold {
  color: #000;
  font-size: 40px;
  padding-right: 0.2em;
}

/* Utilities */

/* Text */
.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

/* Sizing */
.w-100 {
  width: 100%;
}


/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
